<footer>
    <div class="wrapper">
    <article id="contact">
        <h5>Contact</h5>
        <a href="mailto:info@academygp.it">info@academygp.it</a>
        <p>338 799 00 00</p>
    </article>

    <article id="social">
        <h5>Social</h5>
        <ul>
            <li><a href="https://www.facebook.com/250GP.it"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/@250GP"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/robertomarchetti23/?hl=en"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </article>

    <article id="address">
        <div id="adress">
            <h5>Address</h5>
            <address>
                Via dei Cappellari 60 <br> 00186 <br> Roma, Italia
            </address>
        </div>
    </article>

    </div>
    <iframe width="500" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=via%20dei%20cappellari%2060&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</footer>