<section id="about-hero">
  <img src="/img/static.jpeg" alt="pit lane" />
  <article>
    <h2>Roberto</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
      voluptatum ipsum perferendis ducimus earum provident omnis laudantium, quo
      neque odio culpa quos corporis aliquam quis.</p>
    <a class="btn btn-contact" href="#">Contacter</a>
  </article>
</section>
<div id="quote">
  <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
    voluptatum ipsum perferendis ducimus earum provident omnis laudantium, quo
    neque odio culpa quos corporis aliquam quis.</q>
</div>
<div class="cards">
  <div class="card racing">
    <h4 id="card-title">Racing</h4>
  </div>
  <div class="card campionato">
    <h4 id="card-title">Championship</h4>
  </div>
  <div class="card team">
    <h4 id="card-title">Team</h4>
  </div>
</div>