<section id="about-hero">
        <img src="/img/static.jpeg" alt="static bike">
    <article id="hero-right">
        <h2>A 2 strokes lover</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat impedit ex aut? Illum totam odio quidem minima corrupti quaerat blanditiis?</p>
        <a class="btn btn-contact" href="#">Contacter</a>
    </article>
</section>

<section>
    <q>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus officia, placeat magni quaerat, enim vitae explicabo recusandae facere praesentium quae in minus porro impedit tempore reiciendis error doloribus, mollitia dolor?</q>

</section>