<section class="hero">
    <div class="backdrop">  
        <h1>Roberto<br> Marchetti</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, tenetur.</p>
        <div class="buttons">
             <a rel="stylesheet" href="/about" class="btn btn-about" >En savoir plus</a>
             <a rel="stylesheet" href="/work" class="btn btn-work">Expertises</a>
        </div>
    </div>
</section>
<section class="info">
    <div>
        <img src="/img/ritratto.jpeg" alt="portrait">
    </div>
    <article>
        <h2>Roberto</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptatum ipsum perferendis ducimus earum provident omnis laudantium, quo neque odio culpa quos corporis aliquam quis, repudiandae sunt explicabo. Expedita voluptas hic officiis. Consectetur eum eligendi sed excepturi, autem impedit repellendus accusantium expedita nulla facilis quos accusamus qui dicta quam assumenda!</p>
        <a class="btn btn-contact" href="#">Contacter</a>
   </article>

</section>
<section class="data">
    <article>
        <h3>1000</h3>
        <h5>different passions</h5>
    </article>
    <article>
        <h3>2</h3>
        <h5>children</h5>
    </article>
     <article>
        <h3>58</h3>
        <h5>years old</h5>
    </article>
    <article>
        <h3>1970</h3>
        <h5>first race</h5>
    </article>
</section>

