<div id="slideshow-example" data-component="slideshow">
  <div role="list">
    <div class="slide">
      <img src="/img/slide/slide1.png" alt="" />
    </div>
    <div class="slide">
      <img src="/img/slide/slide2.png" alt="" />
    </div>
    <div class="slide">
      <img src="/img/slide/slide3.png" alt="" />
    </div>
    <div class="slide">
      <img src="/img/slide/slide4.png" alt="" />
    </div>
    <div class="slide">
      <img src="/img/slide/slide5.png" alt="" />
    </div>
    <div class="slide">
      <img src="/img/slide/slide6.png" alt="" />
    </div>
    <div class="slide">
      <img src="/img/slide/slide7.png" alt="" />
    </div>
    <div class="slide">
      <img src="/img/slide/slide8.png" alt="" />
    </div>
    <div class="slide">
      <img src="/img/slide/slide9.png" alt="" />
    </div>
    <div class="slide">
      <img src="/img/slide/slide10.png" alt="" />
    </div>
    <div class="slide">
      <img src="/img/slide/slide11.png" alt="" />
    </div>
    <div class="slide">
      <img src="/img/slide/slide12.png" alt="" />
    </div>

  </div>
</div>